<p id="notice"><%= notice %></p>

<h1><%= @feed.title %></h1>

<% if @feed.image %>
  <%= image_tag @feed.image, class: 'img-fluid' %>
<% end %>

<p class="feed-description">
  <%= @feed.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<% @feed.items.each do |item| %>
  <%= render "feed_item", item: item %>
<% end %>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
